<section>
  <section class="titulo">
    <span>AQUI PUEDES ENCONTRAR NUESTRA CARTA DE NUESTROS PRODUCTOS</span>
  </section>
  <section class="container-productos">
    <section class="productos">
      <a [href]="urlBebidas">
        <div class="bebidas">
          <span>BEBIDAS</span>
        </div>
      </a>
      <a [href]="">
        <div class="sopas">
          <span>SOPAS</span>
        </div>
      </a>
      <a [href]="urlTabaco">
        <div class="tabaco"><span>TABACO</span></div>
      </a>
    </section>
    <img src="assets/img/bobaSolo2.png" alt="" />
  </section>
  <section class="bubbles">
    <img src="assets/img/bobaSolo3.png" alt="" />
    <img src="assets/img/bobaSolo1.png" alt="" />
    <img src="assets/img/bobaSolo.png" alt="" />
  </section>
</section>
