/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "TT-Berlinerins", Arial, Helvetica, sans-serif;
}

body {
  background-color: #00F801;
}

@font-face {
  font-family: "TT-Berlinerins";
  src: local("TT-Berlinerins"), url(./assets/fonts/TT-Berlinerins/TT-Berlinerins-Trial-Grotesk.ttf) format("truetype");
}


a {
  list-style: none;
  text-decoration: none;
  color: #000000;
}



a:hover {
  color: #333333;
}
